<a href="https://colab.research.google.com/github/Faithkoi-ai/variables/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

# Introduction

In [ ]:
#Python as a calculator
10+20

30

In [ ]:
#print function
message="firstname:Eddah\n Lastname:Chepchirchir"
print(message)

firstname:Eddah
 Lastname:Chepchirchir

In [ ]:
print("First Name  \n Last Name")

First Name
 Last Name

# Variables and Data Types

In [ ]:

age=18
name='Daisy'
print(age)
print(name)

18
Daisy

# Arithmetic Operators

In [ ]:
#arithmetic Operators
a=50 #assignment operator
b=30
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)
print("modulus",a%b)
#print(a**b) #exponent
print("Integer Division",a//b)
print("exponent",2**3)
print(2//3) #floor division

addition: 80
subtraction: 20
multiplication: 1500
division: 1.6666666666666667
modulus 20
Integer Division 1
exponent 8
0

# COmparison Operators

In [ ]:
a=30
b=50
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

# Logical Operators

In [ ]:
a=30
b=50
c=30
print(a<b and a<c)
print(a<b or a<c)
print(not(a==c))

False
True
False

# DataTypes
* integers
* strings
* boolean
* Lists
* Dictionaries

In [ ]:
number=10
print(number)
type(number)

10

int

In [ ]:
temperature=36.5
print(temperature)
type(temperature)

36.5

float

In [ ]:
name='Engage'
print(name)
type(name)

Engage

str

In [ ]:
is_rainning=True
is_not_raining=False
print(is_rainning)
print(is_not_raining)
type(is_rainning)

True
False

bool

In [ ]:
fruits=['apple','mango','banana']
print(fruits)
print(type(fruits))
print(fruits[0])
print(fruits[1])
print(fruits[2])
#using append
fruits.append('orange')
print(fruits)
#using insert
fruits.insert(1,'pineapple')
print(fruits)
#using reomve
fruits.remove('apple')
print(fruits)
#using pop
popped_fruit=fruits.pop()
print(fruits)
print(popped_fruit)
print(fruits.pop(0))
#using sort
sorted_fruits=fruits.sort()
print(sorted_fruits)
#using count
print(fruits.count(' grapes'))
fruits.append('grapes')
print(fruits.count('grapes'))
fruits1=fruits.sort()
print(fruits1)

['apple', 'mango', 'banana']
<class 'list'>
apple
mango
banana
['apple', 'mango', 'banana', 'orange']
['apple', 'pineapple', 'mango', 'banana', 'orange']
['pineapple', 'mango', 'banana', 'orange']
['pineapple', 'mango', 'banana']
orange
pineapple
None
0
1
None

# Dictionaries

In [ ]:
my_dict = {'name': 'John',
          'age': 30,
           'city': 'Nairobi'}

print(my_dict)
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['city'])
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())
my_dict['age']=35
print(my_dict)
my_dict['country']='Kenya'
print(my_dict)
my_dict.pop('city')
print(my_dict)
print(type(my_dict))

{'name': 'John', 'age': 30, 'city': 'Nairobi'}
John
30
Nairobi
dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'Nairobi'])
dict_items([('name', 'John'), ('age', 30), ('city', 'Nairobi')])
{'name': 'John', 'age': 35, 'city': 'Nairobi'}
name age city country
{'name': 'John', 'age': 35, 'country': 'Kenya'}
<class 'dict'>

In [ ]:
student_Marks=dict(name= 'Diana', age =30, city='Nakuru' )
print(*student_Marks)

name age city

# Sets and sets operations

In [ ]:
names={'4','5','6'}
print(names)
names.add(7)
print(names)

{'6', '5', '4'}
{'6', '5', '4', 7}

In [ ]:
names=set(['Daisy','Mary','Martha','Janet'])
print(names)
names.add('Veronicah')
print(names)
names.remove('Mary')
print(names)
print(names)

{'Martha', 'Daisy', 'Janet', 'Mary'}
{'Daisy', 'Mary', 'Veronicah', 'Janet', 'Martha'}
{'Daisy', 'Veronicah', 'Janet', 'Martha'}
{'Daisy', 'Veronicah', 'Janet', 'Martha'}

In [ ]:
cohort1={'Janet','Mary','Vera','Dulcie'}
combined=cohort1.union(names)
print(combined)

{'Daisy', 'Dulcie', 'Veronicah', 'Vera', 'Mary', 'Martha', 'Janet'}

In [ ]:
intersec=cohort1.intersection(names)
print(intersec)

{'Janet'}

In [ ]:
dif=cohort1.difference(names)
print(dif)

{'Dulcie', 'Vera', 'Mary'}

In [ ]:
x=30
if(x>20):
    print('x is greater than 20')

x is greater than 20

In [ ]:
#use elif
a=20
b=12
c=30
if(a>b and a>c):
    print('a is the greatest')
elif(b>a and b>c):
    print('b is the greatest')
else:
    print('c is the greatest')

c is the greatest

In [ ]:
#if else
x=30
if(x>20):
    print('x is greater than 20')
else:
    print('x is not greater than 20')

x is greater than 20

In [ ]:
names=['Daisy','Janet', 'Betty', 'Sheila']
for i in names:
    print(i)

Daisy
Janet
Betty
Sheila

In [ ]:
sum=0
i=1
while(i<=10):
    sum=sum+i
    i=i+1
print(sum)

55

In [ ]:
x=[3,4,5,2,1]
Y={1,2,3,4,5}
z=(1,2,3,4,5)

print(f"x is of type {type(x)} \nY is of type {type(Y)} \nz is of type {type(z)}")

x is of type <class 'list'>
Y is of type <class 'set'>
z is of type <class 'tuple'>

**Assignment**